<footer class="container body-content d-none d-lg-block mt-auto">
    <hr />
    <div class="row">
        <div class="col-4">
            <p>Документы</p>
            <p class="my-0"><a method="get" target="_blank" asp-area="" asp-controller="Home" asp-action="GetStaticFile" asp-route-fileName="privacy-policy" class="text-muted">Политика конфиденциальности</a></p>
            <p class="my-0"><a method="get" target="_blank" asp-area="" asp-controller="Home" asp-action="GetStaticFile" asp-route-fileName="terms-and-conditions" class="text-muted">Пользовательское соглашение</a></p>
            <p class="my-0"><a method="get" target="_blank" asp-area="" asp-controller="Home" asp-action="GetStaticFile" asp-route-fileName="provision" class="text-muted">Положение</a></p>
        </div>
        <div class="col-4">
            <p>Поддержка</p>
            <p class="my-0 text-muted"><a href="https://wa.me/79960663857" target="_blank" class="text-muted"><i class="fab fa-whatsapp"></i> Напишите нам в WhatsApp</a></p>
            <p class="my-0 text-muted"><i class="fas fa-phone-alt"></i> +7 996 066 38 57</p>
            <p class="my-0 text-muted"><a href="mailto:info@1zvonok.com" class="text-muted"><i class="fas fa-envelope"></i> info@1zvonok.com</a></p>
        </div>
        <div class="col-4">
            <p>Мы в соцсетях</p>
            <p class="my-0 text-muted"><a href="https://www.instagram.com/1zvonokk" target="_blank" class="text-muted"><i class="fab fa-instagram"></i> Instagram</a></p>
            <p class="my-0 text-muted"><a href="https://vk.com/1zvonokk" target="_blank" class="text-muted"><i class="fab fa-vk"></i> ВКонтакте</a></p>
            <p class="my-0 text-muted"><a href="https://ok.ru/group/59280429809846" target="_blank" class="text-muted"><i class="fab fa-odnoklassniki"></i> Одноклассники</a></p>
        </div>
        <div class="col-12 text-right">
            <p class="text-right">&copy; @DateTime.Now.Year www.1zvonok.com</p>
        </div>
    </div>
</footer>