<div class="modal fade olympiadFAQModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Как проходит олимпиада</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-online-tab" data-toggle="tab" href="#nav-online" role="tab" aria-controls="nav-online" aria-selected="true">Онлайн</a>
                        <a class="nav-item nav-link" id="nav-offline-tab" data-toggle="tab" href="#nav-offline" role="tab" aria-controls="nav-offline" aria-selected="false">В учебном учреждении</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-online" role="tabpanel" aria-labelledby="nav-online-tab">
                        <h4 class="text-center">Онлайн прохождение олимпиады </h4>
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item">
                                <p class="font-weight-bold">1. Процедура проведения</p>
                                <p> - В период проведения олимпиады необходимо зайти в систему с логином и паролем, который дал вам научный руководитель или который вы получили при самостоятельной регистрации</p>
                                <p> - Зайти в «Мои олимпиады»</p>
                                <p> - Выбрать олимпиаду, в которой вы участвуете</p>
                                <p> - Нажать кнопку «Приступить к решению»</p>
                                <p> - Ответить на вопросы</p>
                                <p> - Ожидать подведение итогов</p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">2. Подведение итогов</p>
                                <p>
                                    Процедура подведения итогов проводится сразу по завершении проведения олимпиады. Свои результаты вы сможете узнать после оплаты на следующий день после даты окончания проведения олимпиады.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">3. Результаты и наградные документы</p>
                                <p>
                                    Участие в олимпиаде абсолютно бесплатное. Проверить свои знания может каждый желающий. Но чтобы узнать результаты и получить диплом, необходимо оплатить участие.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">4. Оплата</p>
                                <p>
                                    Чтобы узнать свои баллы и получить диплом, необходимо произвести оплату до окончания проведения мероприятия. Оплатив олимпиаду после её завершения, вы также сможете узнать свои результаты, но не будете включены в общий рейтинг.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">За что Вы платите?</p>
                                <p> - Организационный взнос </p>
                                <p> - Программно-аналитический комплекс для онлайн прохождения олимпиады </p>
                                <p> - Электронный вариант диплома </p>
                                <p> - Участие в общем рейтинге </p>
                                <p class="font-weight-bold">Дополнительно (при заказе печатного варианта диплома)</p>
                                <p> - Цветная печать диплома </p>
                                <p> - Отправка наградного документа почтой по указанному вами адресу </p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-offline" role="tabpanel" aria-labelledby="nav-offline-tab">
                        <h4 class="text-center">Офлайн прохождение олимпиады <br />(в учебном учреждении)</h4>
                        <ul class="list-group list-group-flush text-left">
                            <li class="list-group-item">
                                <p class="font-weight-bold">1. Процедура проведения</p>
                                <p> - В период проведения олимпиады научному руководителю необходимо зайти в систему с логином и паролем, полученном при регистрации </p>
                                <p> - Зайти в «Мои олимпиады»</p>
                                <p> - Выбрать олимпиаду</p>
                                <p> - Нажать кнопку «Скачать бланк вопросов»</p>
                                <p> - Раздать именные бланки вопросов учащимся</p>
                                <p> - Провести олимпиаду</p>
                                <p> - Занести результаты учащихся в систему: Мои олимпиады => Занести результаты участников</p>
                                <p> - Ожидать подведения итогов</p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">2. Подведение итогов</p>
                                <p>
                                    Процедура подведения итогов проводится сразу по завершении проведения олимпиады. Свои результаты участник сможет узнать после оплаты на следующий день после даты окончания проведения олимпиады.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">3. Результаты и наградные документы</p>
                                <p>
                                    Участие в олимпиаде абсолютно бесплатное. Проверить свои знания может каждый желающий. Но чтобы узнать результаты и получить диплом, необходимо оплатить участие.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">4. Оплата</p>
                                <p>
                                    Чтобы узнать свои баллы и получить диплом, необходимо произвести оплату до окончания проведения мероприятия. Участники могут оплатить участие по QR-коду, указанному в именных бланках заданий на последней странице.
                                    <br />
                                    Оплатив олимпиаду после её завершения, вы также сможете узнать свои результаты, но не будете включены в общий рейтинг.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p class="font-weight-bold">За что Вы платите?</p>
                                <p> - Организационный взнос </p>
                                <p> - Именной бланк заданий </p>
                                <p> - Электронный вариант диплома </p>
                                <p> - Участие в общем рейтинге </p>
                                <p class="font-weight-bold">Дополнительно (при заказе печатного варианта диплома)</p>
                                <p> - Цветная печать диплома </p>
                                <p> - Отправка наградного документа почтой по указанному вами адресу </p>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <a href="mailto:info@1zvonok.com" class="">Остались вопросы? Напишите нам</a>
                <button type="button" class="btn btn-success" data-dismiss="modal">Понятно</button>
            </div>
        </div>
    </div>
</div>